<div class="container">
  <div class="loader" *ngIf="loadingCat || loadingDog"></div>
  <div id="animal-section">
    <div *ngIf="loadingCat"></div>
    <img class="sizing" *ngIf="srcCats" [src]="srcCats" (click)="catVoted()" />
    <div class="votes">
      {{ catVotes }}
    </div>
  </div>

  <div id="animal-section">
    <div *ngIf="loadingDog"></div>
    <img class="sizing" *ngIf="srcDogs" [src]="srcDogs" (click)="dogVoted()" />
    <div class="votes">
      {{ dogVotes }}
    </div>
  </div>
</div>

<div class="reset">
  <div class="winner">
    {{ winner }}
  </div>
  <button type="button" class="btn" (click)="reset()">Reset Game</button>
</div>
